
html{
  margin:15px;;
}
.container-fluid{
  padding: 20px;
}
.row{
  padding: 10px 0 0 0;
}
#tribute-info div span a{
  color:black;
}
#tribute-info div span a:hover{
  text-decoration: none;
  color: red;
}
#tribute-info div span a:visted{
  text-decoration: none;
  color: black;
}
.figure{
  height:auto;
  padding: 0 0 10px 0;
}
.figure-caption{
  background-color:white;

}


#headlinePhoto{
  border: white 2px solid;
}
